@charset "UTF-8";

/*DESKTOP*/

@media screen and (min-width: 768px) {
    html, body {
        background-image: url(../imagens/Background.png);
        background-position: center;
        background-size: cover;
    }
    
    main {
        position: absolute;
        width: 700px;
        height: 450px;
        border-radius: 10px;

        top: 50%;
        left: 50%;
        overflow: hidden;

        transform: translate(-50%,-50%);

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
    }

    /*GRADIE SECTION*/

    section#gradie {
        display: flex;
        flex-direction: column;
        float: left;
        width: 50%;
        height: 100%;
        padding: 40px;
        background-size: contain;
    }

    /*LOGIN SECTION*/

    section#login {
        display: flex;
        flex-direction: column;
        float: right;
        width: 50%;
        height: 100%;
        padding: 40px;
    }
}